<div class="card" style="width: 18rem;">
  <img src="../media/my-photo.jpg" class="card-img-top" alt="My Photo">
  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">
        <b style="color: yellow;">Python </b>
        <b style="color: green;">Django </b>
        <b style="color: darkgray;">Flask </b>
        <b style="color: #009485;">FastAPI </b>
        <b style="color: #0089ff;">Frappe </b>
        <b style="color: #5fa839;">Scrapy </b>
        <b style="color: #087ea4;">React JS </b>
        <b style="color: rgb(221 75 37);">HTML </b>
        <b style="color: rgb(37 75 221)">CSS </b>
        <b style="color: rgb(102, 102, 102);">JSON </b>
        <b style="color: rgb(26, 26, 161);">RESTful API </b>
    </p>
    <a href="https://in.linkedin.com/in/antony-praveenkumar-m-815aa5209" class="btn btn-primary">Linked In</a>
  </div>
</div>