<div>
    <i class="bi bi-0-circle-fill"></i>
    <div class="row">
        <h1>Summary</h1>
        <ul>
            <li>3+ years of extensive experience in all phases for a wide range of clients, Planning and implementation of projects from initial conceptual design through coding until final delivery.</li>
            <li>Skilled at making scalable and maintainable back-end applications with frameworks such as Django and Flask, and I'm also good at developing REST API and integrating third party API’s.</li>
            <li>Having extensive experience in Angular which includes complex, interactive user interface and integrating with back-end code and also have experience in working with HTML, CSS, SCSS, JS & TS.</li>
            <li>Excellent analytical and inter-personal skills with experience in interacting with clients, user groups and ability to work in a fast-paced environment under tight deadlines.</li>
            <li>Experience consuming REST API’s serve that JSON.</li>
            <li>Experience using databases such as MariaDB, Postgres and MySql.</li>
            <li>Worked with Agile software life cycle methodology. Perform coding, debugging and testing.</li>
            <li>Excellent communication, analytical, business and interpersonal skills. Comfortable working in dependently and also a good team</li>
        </ul>
    </div>
</div>