<div class="card" style="width: 18rem;">
  <img src="../media/my-photo.jpg" class="card-img-top" alt="My Photo">
  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">
        Hello! I'm Antony Praveenkumar M, a Full Stack developer passionate about coding and creating. Python, Django, Flask, FastAPI, Frappe, and React JS are my tools of choice. Let's build wonders together! 😊
    </p>
    <a href="https://in.linkedin.com/in/antony-praveenkumar-m-815aa5209" class="btn btn-primary">Linked In</a>
  </div>
</div>