<div class="card" style="width: 18rem;">
  <img src="../media/my-photo.jpg" class="card-img-top" alt="My Photo">
  <div class="card-body">
    <h5 class="card-title">About Me</h5>
    <p class="card-text">
        <span style="color: yellow;">Python</span>
        <span style="color: green;">Django</span>
        <span style="color: darkgray;">Flask</span>
        <span style="color: #009485;">FastAPI</span>
        <span style="color: #0089ff;">Frappe</span>
        <span style="color: #5fa839;">Scrapy</span>
        <span style="color: #087ea4;">React JS</span>
        <span style="color: rgb(221 75 37);">HTML</span>
        <span style="color: rgb(37 75 221)">CSS</span>
        <span style="color: rgb(102, 102, 102);">JSON</span>
        <span style="color: rgb(26, 26, 161);">RESTful API</span>
    </p>
    <a href="https://in.linkedin.com/in/antony-praveenkumar-m-815aa5209" class="btn btn-primary">Linked In</a>
  </div>
</div>